.App {
  max-width: 600px;
  margin: 150px auto;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
  text-align: center;
  color: #15a6db;
  font-family: "Roboto Mono", monospace;
}

.App a {
  color: #a5e7ff;
  text-decoration: none;
}
