body {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/fcd323a4-962f-4ee5-a513-974c0c835d41/d8ubnfs-02073e28-d8d5-4ea2-9bf1-6ee7e6b96c60.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
